/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/cmaps
/public/locale
/public/pdf.viewer.js
/public/viewer.css
/public/index.html
/public/standard_fonts
/public/images
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
